:root {
  --main-red: rgb(193, 21, 21);
  --main-grey: rgb(72, 72, 72);
  --main-blue: rgb(23, 91, 147);
  --secondary-grey: rgb(197, 197, 197);
  --clock-grey: #2e2e2e;
}

#root {
  text-align: center;
}

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  color: white;
}

/* NAV */

.bg-secondary {
  background-color: var(--main-blue) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.me-auto {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Footer */

.contact-section {
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
  margin-bottom: 40px;
}

.link {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section img,
.link img {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  transition: filter 0.3s ease; /* Add a smooth transition effect */
  color: var(--main-blue);

  transition: transform 0.3s ease-in-out 0s;
}

.contact-section img:hover,
.link img:hover {
  filter: brightness(1.5); /* Adjust the value to make the icon brighter on hover */
  transform: translateY(-10px);
}

/* Landing Page */

#landing {
  margin: 90px;
}

#home {
  position: relative;
  max-width: 80%;
  min-width: 75%;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  flex-direction: column;
}

#home p {
  /* margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px; */
  font-size: 25px;
  color: var(--secondary-grey);
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  /* padding-left: 150px; */
  /* padding-right: 500px; */
  width: 70%;
  text-align: center;

  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: .9s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

#home h1 {
  /* margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px; */
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  /* padding-left: 150px;
  padding-right: 500px; */

  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

#home h2 {
  color: var(--secondary-grey);
  /* margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  /* padding-left: 150px;
  padding-right: 500px; */
  width: 70%;
  text-align: center;


  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: .6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

#home h6 {
  margin-top: 50px;
  font-size: 30px;
  color: var(--main-blue);
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  /* padding-left: 150px;
  padding-right: 500px; */

  animation-name: slideInDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

.scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  /* background: #f00; */
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroll div {
  white-space: nowrap;
  animation: skills var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2) {
  animation: skills2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

@keyframes skills {
  0% {
    transform: translateX(100%);
  } 
  100% {
    transform: translateX(-100%);
  }
}

@keyframes skills2 {
  0% {
    transform: translateX(0);
  } 
  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 23px;
}

.scroll div span:hover {
  background: var(--main-blue);
  cursor: pointer;
}

/* Contact Me Section */

.contact-section a{
  text-decoration: none;
}

.contact-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: var(--clock-grey);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: var(--main-blue);
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: .1em;
}

form input, 
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  background: var(--secondary-grey);
  font-size: 16px;
  border-radius: 10px;
}

form button {
  padding: 15px;
  background: var(--main-blue);
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

#form-button:hover {
  background: var(--main-blue);
}

/* About Me Page */

.about-me h1 {
  color: var(--main-blue);
  position: relative;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  font-family: 'Nanum Myeongjo', serif;
  margin-bottom: 100px;
}

.glass-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: max-content; */
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 50px;
}

.glass-card {
  position: relative;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

.glass-content {
  padding: 20px;
  color: var(--secondary-grey);
  text-align: center;
  /* transform: translateY(200px);
  opacity: 0;
  transition: 0.5s; */
}

/* .glass-container .glass-card:hover .glass-content {
  transform: translateY(0px);
  opacity: 1;
} */

.glass-content h2 {
  color: var(--main-blue);
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Nanum Myeongjo', serif;
}

.glass-content p {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: var(--secondary-grey);
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
}

.rocket-scene {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; /*change*/
  width: 100%;
  height: 70vh; /*change here from 50 to 70 LOOKS FINE ON PLANE */
  max-height: 600px;
  /* background: black; */
}

.rocket-scene i {
  position: absolute;
  top: -100px; /* changed from -250 to -100 on plane */
  background: var(--secondary-grey);
  animation: animateStars linear infinite;
}
@keyframes animateStars {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(90vh);
  }
}

.rocket-scene .rocket {
  position: relative;
  animation: animateRocket 0.2s ease infinite;;
}
@keyframes animateRocket {
  0%, 100% {
      transform: translateY(-2px);
  }
  50% {
      transform: translateY(2px);
  }
}

.rocket-scene .rocket::before {
  content: '';
  position: absolute;
  bottom: -188px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 200px;
  background: linear-gradient(var(--main-blue), transparent);
}

.rocket-scene .rocket::after {
  content: '';
  position: absolute;
  bottom: -188px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 200px;
  background: linear-gradient(var(--main-blue), transparent);
  filter: blur(20px);
}

.rocket-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 150px; 
  /* Adjust this value to control the height */
}

.clock-background {
  margin-top: 70px;
  position: relative;
  background: var(--clock-grey);
  /* min-height: 500px; */
  max-width: max-content;
  width: auto;
  border-radius: 20px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.75), 
  10px 50px 70px rgba(0,0,0,0.25),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  position: relative;
  width: 400px;
  height: 400px;
  background: var(--clock-grey);
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(0,0,0,0.2),
  inset -5px -5px 15px rgba(0,0,0,0.75);
  margin-bottom: 30px;
}

.clock::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-blue);
  border: 2px solid white;
  border-radius: 50%;
  z-index: 1000;
}

.clock span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--main-blue);
  text-align: center;
  inset: 20px;
  transform: rotate(calc(30deg * var(--i)));
}

.clock span b {
  font-size: 2em;
  opacity: 0.75;
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.circle {
  position: absolute;
  width: 266px;
  height: 266px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  top: 16.7%; 
  left: 16.7%; 
  transform: translate(-20%, -20%); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background-color: var(--clr);
  opacity: 0.95;
  font-weight: 500;
  transform-origin: bottom;
  transform: scaleY(0.5);
}

.circle:nth-child(1) i {
  width: 3px;
}

.circle:nth-child(2) i {
  width: 6px;
}

.circle2 {
  width: 213px;
  height: 213px;
  z-index: 9;
  top: 23.4%;
  left: 23.4%;
}

.circle3 {
  width: 160px;
  height: 160px;
  z-index: 8;
  top: 30%;
  left: 30%;
}

.circle::before {
  content: '';
  position: absolute;
  top: -8.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 20px var(--clr),
  0 0 60px var(--clr);
}

/* digital clock style */
#time {
  margin-bottom: 40px;
  display: flex;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 600;
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0,0,0,0.75);
}

#time div {
  position: relative;
  width: 50px;
  text-align: center;
  font-weight: 600;
  color: var(--clr);
}

#time div:nth-child(1)::after, 
#time div:nth-child(2)::after {
  content: ':';
  position: absolute;
  right: -4px;
}

#time div:last-child {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#time div:nth-child(2)::after {
  animation: animate 1s steps(1) infinite;
}

@keyframes animate {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.cloud-space {
  position: relative;
  width: 100%;
  height: 830px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cloud-space .cloud {
  margin-top: 42%;
  position: relative;
  height: 100px;
  width: 320px;
  border-radius: 100px;
  filter: drop-shadow(8px 8px 0 #0005);
  animation: animateCloud 2s steps(1) infinite;
}

@keyframes animateCloud {
  0% {
    filter: drop-shadow(8px 8px 0 #0001) drop-shadow(0 0 0 #fff) brightness(1);
  }
  95% {
    filter: drop-shadow(8px 8px 0 #0001) drop-shadow(0 0 50px #fff5) brightness(10);
  }
}

.cloud-space .cloud::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #484f59;
  box-shadow: 90px -10px 0 30px #484f59;
}

.cloud-space .cloud::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #484f59;
  border-radius: 100px;
}

.cloud-space .cloud .drop {
  position: absolute;
  top: 50px;
  background: #05a2eb;
  color: #05a2eb;
  width: 2px;
  transform-origin: bottom;
  animation: rain 2s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(0) scaleY(1);
  }
  70% {
    transform: translateY(460px) scaleY(1);
  }
  80% {
    transform: translateY(460px) scaleY(0.2);
  }
  100% {
    transform: translateY(460px) scaleY(0) scaleX(15);
  }
}